@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default background + text color for the whole app */
body {
  background-color: white;
  color: white;
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slideIn {
  animation: slideIn 0.8s forwards;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-500 {
  animation-delay: 0.5s;
}

