@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}


.nav-link {
  @apply text-[#895e58] font-desc hover:ps-1 font-semibold cursor-pointer transition-all duration-300;
}
.mobile-header {
  @apply px-4 py-3  font-desc font-semibold  text-lg transition;

}


@keyframes slideIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-slideIn {
  animation: slideIn 0.8s forwards;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-500 {
  animation-delay: 0.5s;
}

